@import "../style-guide.css";
.central-panel-container{
    display: flex;
    width: 80%;
    /*height: 80vh;*/
    background: var(--white-lake);
    /*margin-top: 30px;*/
    /*margin-left: 17px;*/
    flex-direction: column;
    /*padding-left: 24px;*/
    padding: 2%;
}
.search-recipes-text{
    position: relative;
    /* top: 24px; */
    /* left: 24px; */
    color: #000;
    font-family: Roboto, monospace;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 40px;
}
.found-recipes-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: max-content;
    padding-left: 2%;
}