@import "style-guide.css";
.top-container{
    width: 100vw;
    height: 148px;
    display: flex;
    justify-content: end;
    align-items: center;
    background: var(--header);
}

.top-recipe-container{
    width: 100vw;
    height: 100px;
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    background: var(--header);
}
.input-search-recipes{
    margin: 0;
    height: 52.8px;
    width: 48%;
    max-width: 930px;
    outline: none;
    border-radius: 25px;
    border: 2px solid var(--asphalt);
    background: var(--white-lake);
    font-family: Arial, serif;
    color: var(--asphalt);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0 20px;
}
.input-search-recipes::placeholder{
    color: var(--frame-color);
}
.input-search-recipes:focus{
    border: 2px solid var(--light-blue-sky);
}
.suggest-button{
    width: 248px;
    height: 56px;
    margin-left: 29px;
    margin-right: 80px;
    border-radius: 30px;
    border: none;
    background: var(--carrot);
    background-image: url('../assets/pen-white.svg');
    background-position: 25px center; 
    background-repeat: no-repeat;
    color: var(--white-lake);
    font-family: Arial, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 70px;
    display: flex;
    align-items: center;
}
.suggest-button:active{
    border: 5px dashed var(--carrot);
    background: url('../assets/pen-carrot.svg') no-repeat 20px center;
    padding-left: 65px;
}

.go-back-button{
    width: 248px;
    height: 56px;
    margin-left: 29px;
    margin-right: 80px;
    border-radius: 30px;
    border: none;
    background: transparent url('../assets/arrow-left.svg') no-repeat left;
    color: var(--white-lake);
    font-family: Arial, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 70px;
    display: flex;
    align-items: center;
}

.go-back-button:active{
    background: transparent url('../assets/carrot-arrow-left.svg') no-repeat left;
    font-family: Arial, serif;
    color: var(--carrot);
}