
.recipe-ingredients {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: end;
    margin: 0 2%;
    padding: 0 2%;
}

.ingredients-panel {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: start;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid #000;
    background: var(--ingredients);
    padding: 2% 5%;
    margin-bottom: 2%;
}

.ingredients-panel-head {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.portions {
    display: flex;
    justify-content: space-evenly;
}

.portions-input{
    -webkit-appearance: none;
    -moz-appearance: textfield;
    width: 20%;
    box-sizing: border-box;
    justify-items: center;
    border-radius: 8px;
    border: 1px solid #000;
    background: var(--white-lake);
    padding: 2% 5%;
}

.ingredients-panel-body {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.image-text-box{
    display: flex;
    /*justify-content: center;*/
    /*align-content: baseline;*/
    align-items: center;
}

.ingredients-list {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.recipe-tree-container{
    display: flex;
    justify-content: space-between;
}